body {
    background-color: black;
}

div #display {
    width: 500px;
    height: 400px;
    border: 2px solid pink;
    background-color: gray;
}
#display.waiting {

}
#display.ready {
    
}
#display.go {
    
}



.window {
    position: relative;
}

.window button {
    position: absolute;
    margin-left: 218px;
    margin-top: 15px;
}

.window #result {
    height: 40px;
    width: 500px;
    border: 1px solid white;
    margin : 50px 0 0 2px;
}

