@font-face {
    font-family: 'HBIOS-SYS';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2207-01@1.0/HBIOS-SYS.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}


body {
    margin: 0;
    font-family: 'HBIOS-SYS';
}

a {
    text-decoration: none;
    color: white;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: rgb(77, 143, 46);
    padding: 8px 12px;
}

.logo {
    font-size: 40px;
}

.menu {
    display: flex;
    list-style: none;
    font-size: 17px;
    padding-left: 0;
}

.menu li {
    padding: 8px 12px;
}
.menu li:hover {
    color: black;
    background-color: rgb(67, 127, 39);
    border-radius: 4px;
}


.icon {
    list-style: none;
    display: flex;
    padding-left: 0;
}
.icon li {
    padding: 8px 8px;
}

.ham {
    position: absolute;
    right: 32px;
    top: 20px;
    font-size: 24px;
    display: none;
}
 


@media screen and (max-width: 768px) {
    .navbar {
        flex-direction: column;
        align-items: flex-start;
        padding: 10px;
    }
    .menu {
        flex-direction: column;
        align-items: center;
        width: 100%;
        display: none;
    }
    .menu li{
        width: 100%;
        text-align: center;
    }
    .icon {
        justify-content: center;
        width: 100%;
        display: none;
    }
    .ham {
        display: block;
    }

    .menu.active, .icon.active {
        display: flex;
    }

}