body {
    background-color: black;
}

#display {
    width: 500px;
    height: 400px;
    border: 2px solid pink;
    text-align: center;
    font-size: 20px;
    color: #fff;
    
}
#display.waiting {
    background-color: gray;
}
#display.ready {
    background-color: red;
}
#display.go {
    background-color: green;
}



.window {
    position: relative;
}

.window #result {
    height: 40px;
    width: 500px;
    margin : 50px 0 0 2px;
    color: #fff;
}

